@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
    height: 100%;
}

.visually-hidden {
    opacity: 0;
    position: absolute;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.main-header {
    background-color: #fff;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 1060px;
}

.header-left {
    display: flex;
    margin-right: auto;
}

.header-logo {
    margin-right: 30px;
    width: 138px;
}

.navigation-list {
    display: flex;
    align-items: center;
    width: 454px;
    margin: 0;
    list-style: none;
    padding: 0;
}

.navigation-item {
    padding: 20px 16px;
}

.navigation-user {
    width: 268px;
}

.navigation-icon {
    padding: 22px 12px;
}

.navigation-user .navigation-icon:nth-child(2) {
    margin-right: auto;
}

.nav-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}

.navigation-button {
    border-radius: 4px;
    padding: 8px 34px;
    color: #fff;
    background-color: #756157;
}

.navigation-button a {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.main-container {
    flex-grow: 1;
}

.baner-block {
    background: #DCEAF3 url("../images/img/hero-background.jpg") no-repeat;
    background-size: 100% auto;
    text-align: center;
    height: 485px;
}

.text-baner {
    padding-top: 51px;
}

.banner-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description-heading {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 69px;
    width: 620px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.description-subtitle {
    margin: 0;
    margin-bottom: 90px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
}

.advantage-large-with-img {
    display: flex;
    justify-content: space-between;
}

.advantages-small{
    display: flex;
    margin:0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.advantage-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.advantages-small-icon {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.advantage-small-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    background-color: #fff;
    text-align: center;
}

.advantage-blue {
    color: #fff;
    background-color: #82B3D3;
}

.advantage-light {
    color: #000;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-light-blue {
    color: #000;
    background: rgba(131, 179, 211, 0.2);
}

.advantage-white {
    color: #000;
    background-color: #fff;
}

.advantage-icon {
    padding-top: 80px;
}

.advantage-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    width: 175px;
    margin: 0;
    padding: 92px 85px 0;

}

.advantage-small-icon .advantage-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    width: 175px;
    margin: 0;
    padding: 30px 85px 0;

}

.advantage-paragraph {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 230px;
    margin: 0;
    padding: 62px 85px 111px;
}

.advantages-small-icon .advantage-paragraph {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 230px;
    margin: 0;
    padding: 30px 85px 81px;
}

.txt-white {
    color: #fff;
}

.txt-dark {
    color: #333;
}

.txt-black {
    color: #000;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.call-to-action-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-top: 96px;
}

.call-to-action-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
    width: 592px;
    margin: 0;
    padding-top: 20px;
}

.call-to-action .container-button {
    padding: 54px 0 96px;
}

.call-to-action-button {
    display: block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 50px;
    color: #fff;
    background-color: #756157;
}

.subscribe {
    background: #fff url("../images/img/subscribe-background.jpg") no-repeat;
    background-size: 100% auto;
    text-align: center;
}

.subscribe-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 96px;
    margin: 0;
    margin-bottom: 20px;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 54px;
}

.subscribe-form {
    padding-bottom: 104px;
}

.subscribe-input {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    padding: 14px 345px 14px 20px;
    border-radius: 4px 0 0 4px;
    border: none;
}

.subscribe-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    border: none;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 35px;
}

.footer-social-networks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-telephone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
