@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
    background-color: #fff;
    z-index: 1;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 1060px;
}

.header-left {
    display: flex;
    margin-right: auto;
}

.header-logo {
    display: block;
    padding: 0;
    margin-right: 30px;
    width: 138px;
    height: 64px;
}

.navigation-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 454px;
    margin: 0;
    list-style: none;
    padding: 0;
}

.navigation-user {
    width: 268px;
}

.navigation-icon {
    display: block;
    height: 20px;
    padding: 22px 12px;
}

.navigation-user .navigation-item:nth-child(2) {
    position: relative;
    margin-right: auto;
}

.navigation-user .navigation-item:nth-child(2)::before {
    content: url("/images/svg/icon-header-heart-lable.svg");
    position: absolute;
    top: 11px;
    right: 4px;
}

.nav-link-active {
    box-sizing: border-box;
    height: 64px;
    border-bottom: 2px solid #756257;
}

.nav-link:hover {
    box-sizing: border-box;
    height: 64px;
    border-bottom: 2px solid #E5E5E5;
}

.nav-link {
    display: block;
    padding: 20px 0;
    margin: 0 16px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}

.navigation-item:last-child .nav-link {
    margin-right: 0;
}

.navigation-button {
    border-radius: 4px;
    color: #fff;
    background-color: #756157;
}

.navigation-button:hover {
    background-color: #615048;
}

.navigation-button:focus {
    background-color: #615048;
}

.navigation-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
}

.navigation-button a {
    display: block;
    padding: 8px 34px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.main-container {
    flex-grow: 1;
}

.baner-block {
    background: #DCEAF3 url("../images/img/hero-background.jpg") no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding: 51px 0 82px;
}

.text-baner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 69px 0 90px;
}

.description-heading {
    margin: 0 0 25px;
    width: 620px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.description-subtitle {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
}

.advantage-large-with-img {
    display: flex;
    align-items: center;
}

.img-advantage-large {
    max-width: 800px;
    height: auto;
}

.advantages-small{
    display: flex;
    margin:0;
    padding: 0;
    list-style: none;
}

.advantage-small {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    min-height: 384px;
    padding: 92px 0 111px;
    color: #000;
    background-color: #fff;
}

.advantages-small-icon {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.advantage-small-icon {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    min-height: 384px;
    color: #000;
    background-color: #fff;
}

.advantage-small-icon:nth-child(1) {
    background-image: url("../images/svg/icon-advantage-house.svg");
    background-repeat: no-repeat;
    background-position: 162.5px 80px;
}

.advantage-small-icon:nth-child(2) {
    background-image: url("../images/svg/icon-advantage-food.svg");
    background-repeat: no-repeat;
    background-position: 162.5px 80px;
}

.advantage-small-icon:nth-child(3) {
    background-image: url("../images/svg/icon-advantage-gift.svg");
    background-repeat: no-repeat;
    background-position: 162.5px 80px;
}

.advantage-blue {
    color: #fff;
    background-color: #82B3D3;
}

.advantage-blue::before {
    content: "";
    position: absolute;
    bottom: 204px;
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.advantage-light {
    color: #000;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-light::before,
.advantage-small.advantage-light-blue::before {
    content: "";
    position: absolute;
    bottom: 204px;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantage-light-blue {
    color: #000;
    background: rgba(131, 179, 211, 0.2);
}

.advantage-white {
    color: #000;
    background-color: #fff;
}

.advantage-icon {
    margin-bottom: 30px;
}

.advantage-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 175px;
    margin: 0 0 62px;
}

.advantage-small-icon .advantage-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 230px;
    padding-top: 182px;
    margin: 0 0 30px;
}

.advantage-paragraph {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    max-width: 230px;
    margin: 0;
}

.advantages-small-icon .advantage-paragraph {
    padding-bottom: 81px;
    margin: 0;
}

.txt-white {
    color: #fff;
}

.txt-dark {
    color: #333;
}

.txt-black {
    color: #000;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 96px 0;
}

.call-to-action-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.call-to-action-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
    max-width: 592px;
    margin: 0 0 54px;
}

.call-to-action-button {
    display: block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 50px;
    color: #fff;
    background-color: #756157;
}

.call-to-action-button:hover {
    background-color: #615048;
}

.call-to-action-button:focus {
    background-color: #615048;
}

.call-to-action-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 96px 0 104px;
    background: #fff url("../images/img/subscribe-background.jpg") no-repeat;
    background-size: 100% auto;
}

.subscribe-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    max-width: 475px;
    margin: 0 0 54px;
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    box-sizing: border-box;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    max-width: 452px;
    padding: 14px 345px 14px 20px;
    border-radius: 4px 0 0 4px;
    border: none;
}

.subscribe-button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    border: none;
}

.subscribe-button:hover {
    background-color: #68A2CA;
}

.subscribe-button:focus {
    background-color: #68A2CA;
}

.subscribe-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    margin: 0 auto 0;
    padding: 40px 0 30px;
}

.footer-social-networks {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 192px;
    margin: 0;
    padding: 0;
}

.social-network-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 40px;
}

.social-logo {
    fill: #83B3D3;
}

.social-network-link:hover .social-logo {
    fill: #68A2CA;
}

.social-network-link:focus svg {
    fill: #68A2CA;
}

.social-network-link:active .social-logo {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-telephone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.footer-telephone:hover {
    color: #756157;
}

.footer-telephone:focus {
    color: #756157;
}

.footer-telephone:active {
    color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
    display: flex;
}

.footer-logo {
    fill: #000;
}

.footer-logo-link:hover svg {
    fill: #756157;
}

.footer-logo-link:focus svg {
    fill: #756157;
}

.footer-logo-link:active svg {
    fill: rgba(117, 97, 87, 0.3);
}
