@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.visually-hidden {
    opacity: 0;
    position: absolute;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
    color: #000;
    background-color: #fff;
}

.main-header {
    padding: 0 70px 0 70px
}

.navigation {
    display: flex;
    height: 64px;
}

.header-logo {
    margin-right: 30px;
    width: 138px;
}

.navigation-list {
    display: flex;
    width: 339px;
    height: 64px;
    margin: auto 0;
    list-style: none;
    padding-left: 0;
}

.navigation-user {
    margin-left:auto;
    width: 268px;
}

.navigation-icon {
    padding: 22px 12px;
}

.navigation-item {
    text-align: center;
    padding: 20px 16px;
}

.nav-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}

.navigation-button {
    border-radius: 4px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 34px;
    text-align: center;
    color: #fff;
    background-color: #756157;
}

.navigation-button a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.baner-block {
    background: #DCEAF3 url("../images/img/hero-background.jpg") no-repeat;
    background-size: 100% auto;
    text-align: center;
    height: 485px;
}

.text-baner {
    padding-top: 51px;
}

.banner-description {
    text-align: center;
}

.description-heading {
    display: block;
    width: 620px;
    padding-top: 69px;
    margin: 0 auto 25px auto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.description-subtitle {
    display: block;
    padding-bottom: 90px;
    margin: 0 auto 0 auto;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
}

.advantage-large-with-img {
    display: flex;
}

.advantages-small{
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
}

.advantage-small {
    color: #000;
    background-color: #fff;
    text-align: center;
    width: 400px;
    height: 384px;
}

.advantages-small-icon {
    list-style: none;
}

.advantage-small-icon {
    color: #000;
    background-color: #fff;
    text-align: center;
    width: 400px;
    height: 384px;
}

.advantage-blue {
    color: #fff;
    background-color: #82B3D3;
}

.advantage-light {
    color: #000;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-light-blue {
    color: #000;
    background: rgba(131, 179, 211, 0.2);
}

.advantage-white {
    color: #000;
    background-color: #fff;
}

.advantage-heading {
    width: 175px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 92px auto 30px auto;
}

.advantage-paragraph {
    width: 230px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 auto 0 auto;
}

.txt-white {
    color: #fff;
}

.txt-dark {
    color: #333;
}

.txt-black {
    color: #000;
}

.call-to-action {
    text-align: center;
}

.call-to-action-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.call-to-action-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
}

.call-to-action-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 50px;
    color: #fff;
    background-color: #756157;
}

.subscribe {
    background: #fff url("../images/img/subscribe-background.jpg") no-repeat;
    background-size: 100% auto;
    height: 414.86px;
    text-align: center;
    padding-top: 96px;
}

.subscribe-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.subscribe-input {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    padding: 14px 345px 14px 20px;
    border-radius: 4px 0 0 4px;
    border: none;
}

.subscribe-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    border: none;
}

.footer-social-networks {
    list-style: none;
}

.footer-telephone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
